*{
    text-align: center;
    margin:0;
    color:red;
    font-family: sans-serif;
    font-size:xx-large;
    user-select: none;
}
#mainWebsite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    

}
#websiteTitle{
    display: flex;
    justify-content: center;
}
#titleAnimation{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:6px;
}
#titleIcon{
    display: flex;
}
.lowDash{
    width:28px;
    height:4px;
    background-color: white;
}
.titleLetter{
    text-emphasis: none;
    user-select: none;
}

/* health */

#healthContainer{
    display:flex;
    gap: 6px;
    width:fit-content;
    flex-direction: row-reverse;
    position: relative;
    left:50%;
    transform:translateX(-50%);
}
.healthBox{
    background-color: red;
    opacity: 1;
    height: 20px;
    width:20px;
    border-radius: 50%;
}

/* randomWord */

#randomWord{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 30px;
    gap:6px
}
.randomWordLetter{
    color:red;
}
.empty{
    opacity: 1;
}

/* keyboard */

#keyboard{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 6px;
    position: relative;
    left:50%;
    transform:translateX(-50%);
    margin-top: 100px;
}
.inputKeys{
    opacity: 1;
    border:2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}